<app-menu></app-menu>
<div class='component-content'>
  <div class='lefthalf'>
  <span class='component-title'>[{{title}}]</span>
  <span><a routerLink='/product/create'>
  <img id='createnew' width='20' height='20' src='assets/add-icon.png' title='Add New'></a></span>
</div>
<p *ngIf='!products'>Loading...</p>
</div>
<table class="table table-sm" *ngIf='products'>
<tr>
  <td>ID</td>
  <td>Vendor</td>
  <td>PartNumber</td>
  <td>Name</td>
  <td>Price</td>
  <td>Unit</td>
  <td>Photopath</td>
</tr>
<tr *ngFor='let product of products'>
  <td>{{product.Id}}</td>
  <td>{{product.Vendor.Name}}</td>
  <td>{{product.VendorPartNumber}}</td>
  <td>{{product.Name}}</td>
  <td>{{product.Price}}</td>
  <td>{{product.Unit}}</td>
  <td>{{product.Photopath}}</td>
 
  <td class='actions'><a routerLink='/product/detail/{{product.Id}}'><img src='assets/details.png' width='20' height='20' title='Detail'></a>
  <a routerLink='/product/edit/{{product.Id}}'><img src='assets/pencil-icon.png' width='20' height='20' title='Edit'></a></td>
</tr>
</table>